.footer{
    padding: 2rem 0; 
    background-color: $grisOscuro;   
    margin-bottom: 0;

    .contenido-footer{
        padding-top:calc($separacion / 2);
    }
    
    .navegacion{

        display: block;
        margin: 0;
        padding: 0;
        @include tablet {
            
            display:flex;
            
            a{
                margin-right: 1rem;
            }
        }
    }

    .copyrigth{
        color: $blanco;
        text-align: center;
    }

}



