.footer{
    padding: 2rem 0; 
    background-color: $grisOscuro;   
    margin-bottom: 0;

    .contenido-footer{
        padding-top:calc($separacion / 2);
    }

    .navegacion{
        display:block;
        
        a{
            margin: 0;
        }
    }

    .copyrigth{
        color: $blanco;
        text-align: center;
    }

}



