.no-webp .inicio{
    background-image: url(../img/header.jpg);
    max-width: 100%;
}

.webp .inicio{
    background-image: url(../img/header.webp);
    max-width: 100%;
    
}

.header{
    background-color: $grisOscuro;
    padding: 1rem 3rem 0;
  
    &.inicio{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include tablet {
            min-height: 60rem;
        }

        .contenido-header{
            @include tablet {
                min-height: 60rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 60rem;
    }
}