.navdark{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @include tablet {
        flex-direction: row;
    }
}
.dark-mode-btn{
    margin-left: 1rem;
    max-width: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    filter: invert(100%);

    &:hover{
        cursor: pointer;
    }

    @include tablet {
        max-width: 3rem;
    }
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }   
}


.navegacion{
    display: none;
    
    @include tablet {
        display: flex;
        align-items: center;
        
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            align-items: center;
            font-size: 1.8rem;
            margin-right: 2rem;
            &:last-of-type{
                margin-right: 0;
            }

            &:hover{
                color: $verde;
            }
        }
    }

}

/*  MENU DE HAMBURGESA */
.mobile-menu{
    
    @include tablet {
        display: none;
    }

    img{
        width: 5rem;
    }
}

.mostrar{
    display: block;
    padding: 1.5rem 0 0 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000000ee;
    width: 70%;
    margin: 0;
    left: 0;

    @include tablet {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: transparent;
    
    }
}