.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    
    &.error{
        background-color:$rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

select{
    width: 100%;
    padding: 1rem;
    option{
        text-align: center;
        padding: 1rem;
    }
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
            /* border: solid 1px black; */
        }
    }

    .imagen-tabla{
        width: 10rem;
        margin: auto;
    }

    .acciones{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid 1px black; */
        height: 10rem;


        .btn{
            margin: 0;
        }

        .btn:not(:last-child){
            margin-right: 1rem;
        }
    }
}

.imagen-small{
    width: 20rem;
}